<a href="{href}" target="_blank"><strong>{dpt}</strong></a>
<ul style="padding-left:20px">
<li>HQ listed: {listed}</li>
<li>HQ signed: {signed1}</li>
<li>NO signed: {no}</li>
<li>DE signed: {de}</li>
<li>NL signed: {nl}</li>
<li>SE signed: {se}</li>
<li>DK signed: {dk}</li>
<!-- <li>L3 Leader: {listed}</li>-->
<!-- <li>L2 Leader: {listed}</li>-->
<!-- <li>Writer: {listed}</li>-->
    <!-- <li>Country counter part: {listed}</li>-->



<!-- <li>Listed: {listed}</li>-->
<!-- <li>Listed completed: {listed}</li>-->
<!-- <li>Listed completed signeddoff by writer: {listed}</li>-->
<!-- <li>Listed completed signeddoff by writer and by countrypart: {listed}</li>-->
<!-- <li>Listed completed signeddoff by writer and by countrypart and by operator L3 leader: {listed}</li>-->
<!-- <li>Listed completed signeddoff by writer and by countrypart and by operator L3 leader and L3 leaders: {listed}</li>-->

</ul><br>

